fastapi==0.116.1
python-multipart==0.0.6
ibm-cos-sdk==2.14.3
python-dotenv==1.1.1
requests==2.32.4
langchain-openai==0.3.29
langchain==0.3.27
pydantic==2.11.7
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4